## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">al覺man覺z覺 daha verimli hale getirecek 8 Python Pandas value_counts() p羹f noktas覺</p>

 - Herhangi bir veri projesine balamadan 繹nce bir ad覺m geriye gitmeli ve veri k羹mesiyle herhangi bir ey yapmadan 繹nce ona bakmal覺s覺n覺z. Keifsel Veri Analizi (EDA) veri analizinin herhangi bir par癟as覺 kadar 繹nemlidir, 癟羹nk羹 ger癟ek veri k羹meleri 癟ok karma覺kt覺r ve verilerinizi bilmiyorsan覺z bir癟ok ey ters gidebilir.

 - Pandas k羹t羹phanesi bu ama癟 i癟in 癟eitli kullan覺l覺 ilevlerle donat覺lm覺t覺r ve ``"value_counts()"`` bunlardan biridir. Pandas, bir pandas veri 癟er癟evesindeki benzersiz deer say覺lar覺n覺 s覺ralanm覺 d羹zende ``"value_counts()"`` i癟eren bir nesneyi d繹nd羹r羹r. Ancak 癟ou kullan覺c覺 bu ilevin yaln覺zca varsay覺lan parametrelerle kullan覺lamayaca覺n覺 g繹zden ka癟覺rma eilimindedir. Bu makalede, varsay覺lan parametreleri deitirerek Pandasda nas覺l daha fazla deer elde edebileceinizi ve size zaman kazand覺racak birka癟 ek hileyi g繹stereceim.
 
<img src=https://re-thought.com/content/images/size/w2000/2020/05/zac-ong-hPOFScEaZcA-unsplash.jpg width="300" height="200">


** [Makaleye buradan ulasabilirsiniz](https://re-thought.com/pandas-value_counts/)**

s<dgsg

## value_counts() ilevi nedir?

襤lev, benzersiz deerlerin say覺s覺n覺 i癟eren bir Seri ``"value_counts()"`` elde etmek i癟in kullan覺l覺r. Ortaya 癟覺kan nesne, ilk 繹enin en s覺k g繹r羹len 繹e olmas覺 i癟in azalan s覺rada olacakt覺r. NA deerlerini varsay覺lan olarak hari癟 tutar.

### Syntax

``"df['your_column'].value_counts()"`` Bu belirtilen s羹tundaki benzersiz oluumlar覺n (unique deerlerin) say覺s覺n覺 d繹nd羹recektir.
``"value_counts()"`` Dataframe lerde deil, yaln覺zca Seri lerde 癟al覺t覺覺n覺 unutmamak 繹nemlidir.

Sonu癟 olarak, yaln覺zca bir parantez ``"df['your_column']"`` i癟erir, iki parantez ``"df[['your_column']]"`` i癟ermez.

## Parameters
 - **normalize (bool, default False)** - True ise d繹nd羹r羹len nesne benzersiz deerlerin g繹receli frekanslar覺n覺 i癟erecektir.
 - **sort (bool, default True)** - Frekanslara g繹re s覺ralay覺n.
 - **ascending (bool, default False)** - Artan d羹zende s覺ralay覺n.
 - **bins (int, optional)** - Deerleri saymak yerine, bunlar覺 yar覺 a癟覺k kutular halinde grupland覺r覺n, ``"pd.cut"`` bu kolayl覺k yaln覺zca say覺sal verilerle 癟al覺覺r.
 - **dropna (bool, default True)** - NaN say覺lar覺n覺 dahil etmeyin

In [2]:
import pandas as pd

In [7]:
df = pd.read_csv('coursea_data.csv')

In [8]:
df.head(10)

,Unnamed: 0,course_title,course_organization,course_Certificate_type,course_rating,course_difficulty,course_students_enrolled
0,134,(ISC)簡 Systems Security Certified Practitioner...,(ISC)簡,SPECIALIZATION,4.7,Beginner,5.3k
1,743,A Crash Course in Causality: Inferring Causal...,University of Pennsylvania,COURSE,4.7,Intermediate,17k
2,874,A Crash Course in Data Science,Johns Hopkins University,COURSE,4.5,Mixed,130k
3,413,A Law Student's Toolkit,Yale University,COURSE,4.7,Mixed,91k
4,635,A Life of Happiness and Fulfillment,Indian School of Business,COURSE,4.8,Mixed,320k
5,661,ADHD: Everyday Strategies for Elementary Students,University at Buffalo,COURSE,4.7,Beginner,39k
6,54,AI For Everyone,deeplearning.ai,COURSE,4.8,Beginner,350k
7,488,AI For Medical Treatment,deeplearning.ai,COURSE,4.8,Intermediate,2.4k
8,58,AI Foundations for Everyone,IBM,SPECIALIZATION,4.7,Beginner,61k
9,129,AI for Medical Diagnosis,deeplearning.ai,COURSE,4.7,Intermediate,12k

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                891 non-null    int64
 1   course_title              891 non-null    object
 2   course_organization       891 non-null    object
 3   course_Certificate_type   891 non-null    object
 4   course_rating             891 non-null    float64
 5   course_difficulty         891 non-null    object
 6   course_students_enrolled  891 non-null    object
dtypes: float64(1), int64(1), object(5)
memory usage: 48.9+ KB

#### Bu bize veri setimizde 891 kayd覺m覺z覺n olduunu ve herhangi bir NaN deerimizin olmad覺覺n覺 s繹yler.

## 1. value_counts() with default parameters

Veri 癟er癟evemizden "course_difficulty" s羹tununa ilikin say覺lar覺 alaca覺z.

In [13]:
# course_difficulty s羹tunu i癟in t羹m unique deerlerin say覺s覺

df['course_difficulty'].value_counts()

course_difficulty
Beginner        487
Intermediate    198
Mixed           187
Advanced         19
Name: count, dtype: int64

Bu fonksiyon ``"value_counts()"`` verilen dizindeki t羹m benzersiz(unique) deerlerin say覺s覺n覺 herhangi bir bo deer olmadan azalan s覺rada d繹nd羹r羹r. Maksimum kurslar覺n Beginner seviyesinde olduunu, ard覺ndan s覺ras覺 ile Intermediate, Mixed ve Advanced seviyesinde olduunu h覺zl覺 bir ekilde g繹rebiliriz.

## 2. value_counts() in ascending order
 ``"value_counts()"`` Taraf覺ndan d繹nd羹r羹len seriler default olarak azalan s覺radad覺r. ``"ascending"`` Parametreyi ``"True"`` olarak ayarlayarak durumu tersine 癟evirebiliriz.

In [14]:
# course_difficulty s羹tunu i癟in t羹m unique deerlerin artan s覺rada say覺s覺

df['course_difficulty'].value_counts(ascending=True)

course_difficulty
Advanced         19
Mixed           187
Intermediate    198
Beginner        487
Name: count, dtype: int64

## 3. value_counts() sorted alphabetically

Baz覺 durumlarda ``"value_counts()"``ile d繹nd羹r羹lenleri alfabetik s覺rada g繹r羹nt羹lememiz gerekebilir.

Bu ``"value_counts()"``'tan sonra ``"sort_index(ascending=True)"``s覺ralama indeksi eklenerek kolayca yap覺labilir.

In [16]:
# value_counts() alfabetik olarak s覺ralan覺r.
df['course_difficulty'].value_counts().sort_index(ascending=True)

course_difficulty
Advanced         19
Beginner        487
Intermediate    198
Mixed           187
Name: count, dtype: int64

In [17]:
# value_counts() ters alfabetik olarak s覺ralan覺r.
df['course_difficulty'].value_counts().sort_index(ascending=False)

course_difficulty
Mixed           187
Intermediate    198
Beginner        487
Advanced         19
Name: count, dtype: int64

## 4. Pandas value_counts(): sort by value, then alphabetically

In [23]:
# Bu 繹rnek i癟in biraz farkl覺 bir veri 癟er癟evesi kullanal覺m
df_fruit = pd.DataFrame({
    'fruit':
        ['sharon fruit']*5 + ['apples']*5 + ['bananas']*3 + 
        ['nectarines']*3 + ['carrots']*3 + ['apricots'] + ['mango']*2})

In [24]:
df_fruit

           fruit
0   sharon fruit
1   sharon fruit
2   sharon fruit
3   sharon fruit
4   sharon fruit
5         apples
6         apples
7         apples
8         apples
9         apples
10       bananas
11       bananas
12       bananas
13    nectarines
14    nectarines
15    nectarines
16       carrots
17       carrots
18       carrots
19      apricots
20         mango
21         mango

In [ ]:
 sort_index(ascending=False)Bu, value_counts() ilevini ve ile birletirerek yap覺labilir sort_values(ascending=False).

In [25]:
# Burada 癟覺kt覺n覺n 繹nce deer say覺lar覺na g繹re, sonra da meyve ad覺na g繹re alfabetik olarak s覺ralanmas覺n覺 istiyoruz.

df_fruit['fruit'].value_counts().sort_index(ascending=False).sort_values(ascending=False)

fruit
sharon fruit    5
apples          5
nectarines      3
carrots         3
bananas         3
mango           2
apricots        1
Name: count, dtype: int64

###### nce deer say覺lar覺na g繹re ``"sort_index(ascending=False)"`` sonra da meyve ad覺na g繹re alfabetik ``"sort_values(ascending=False)"``

## 5. value_counts() persentage counts or relative frequencies of the unique values
Bazen % almak normal say覺dan daha iyidir. ``"normalize=True"`` ayarland覺覺nda d繹nd羹r羹len nesne benzersiz(unique) deerlerin frekanslar覺n覺 i癟erir.

Default olarak ``"normalize=False"`` dur.

In [26]:
# value_counts percentage view
df['course_difficulty'].value_counts(normalize=True)

course_difficulty
Beginner        0.546577
Intermediate    0.222222
Mixed           0.209877
Advanced        0.021324
Name: proportion, dtype: float64

## 6. value_counts() to bin continuous data into discrete intervals
Bu genellikle yeterince kullan覺lmayan harika bir hile.  ``"bin"``Parametre yard覺m覺yla s羹rekli verileri ayr覺k aral覺klara b繹lmek i癟in kullan覺labilir. Bu se癟enek yaln覺zca say覺sal verilerle 癟al覺覺r. ``"pd.cut."``Fonksiyonuna benzer.

In [27]:
# applying value_counts with default parameters 
df['course_rating'].value_counts()

course_rating
4.8    256
4.7    251
4.6    168
4.5     80
4.9     68
4.4     34
4.3     15
4.2     10
5.0      2
4.0      2
3.9      2
3.3      1
4.1      1
3.7      1
Name: count, dtype: int64

In [28]:
# S羹tunun say覺mlar覺n覺 4 b繹lmeye gruplayal覺m.
# applying value_counts on a numerical column 
# with the bin parameter
df['course_rating'].value_counts(bins=4)

course_rating
(4.575, 5.0]      745
(4.15, 4.575]     139
(3.725, 4.15]       5
(3.297, 3.725]      2
Name: count, dtype: int64

######  ``"bin"``, iletilen fikrin anla覺lmas覺n覺 kolaylat覺r覺r. Toplam n羹fus i癟inde 癟ou kiinin derslere 4,5'un 羹zerinde puan verdiini rahatl覺kla g繹rebiliriz. Derecelendirmenin 4,15'in alt覺nda olduu yaln覺zca birka癟 ayk覺r覺 deer d覺覺nda (4,15'ten d羹羹k derecelendirilmi yaln覺zca 7 kurs).

## 7. value_counts() displaying the NaN values
Varsay覺lan olarak bo deerlerin say覺s覺 sonu癟tan hari癟 tutulur.  Ancak, ``"dropna"``parametreyi ``"False"``olarak ayarlayarak ayn覺 ey kolayca g繹r羹nt羹lenebilir. Veri setimizde herhangi bir null deer bulunmad覺覺ndan dropna parametresinin ayarlanmas覺 bir fark yaratmayacakt覺r. Ancak bu, bo deerlere sahip baka bir veri k羹mesinde faydal覺 olabilir; bu nedenle bunu akl覺n覺zda bulundurun.

In [31]:
#df['your_column'].value_counts(dropna=False)

## 8. value_counts() as dataframe
``"value_counts()"`` bir data frame i deil seriyi d繹nd羹r羹r. Say覺mlar覺n覺z覺n bir dataframe olarak d繹nmesini istiyorsan覺z, bunu ``".value_counts().to_frame()"``

In [32]:
# value_counts as dataframe
df['course_difficulty'].value_counts().to_frame()

                   count
course_difficulty
Beginner             487
Intermediate         198
Mixed                187
Advanced              19